/*Titre Formulaire*/
h1 {
    text-align: center;
    margin-bottom: 30px;
  }

/*Formatage Formulaire*/
body {
    background-color: #839ac9;
}
.Frame {
    background-color: white;
    width: 600px;
    margin: auto;
    padding-bottom: 8px;
    height: fit-content;
    box-shadow: 1px 1px 10px 0.15px;
}
input,
select,
button {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  width: 550px;
  height: 32px;
}

/*Label*/
label {
    font-size: 1.2rem;
    display: block;
    padding: 30px 20px 10px 20px;
}
span {
    color: red;
}

/*Input*/
.BtRad input,
.ChBox input {
  display: inline;
  all: revert;
}
.BtRad label,
.ChBox label {
  padding-top: revert;
}
.Questions {
    padding-top: 20px;
}
textarea {
    margin-left: 20px;
    margin-right: 20px;
    width: 552px;
}

/*Les Boutons*/
button[type=submit] {
    background-color: #3aa463;
    margin: 20px 0px 10px 20px;
    font-size: 1.2rem;
    border: none;
}
button[type=reset] {
    background-color: #dc1414;
    margin: 0px 0px 0px 20px;
    font-size: 1.2rem;
    border: none;
}